{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}
{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .table-style {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  .table-row {
    display: table-row;
    border-bottom: 1px solid #e0e0e0; /* Optional: row separator */
  }

  .table-cell {
    display: table-cell;
    padding: 12px 16px;
    vertical-align: top;
  }

{%- endstyle -%}

{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div class="multicolumn color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="{%if section.settings.layout=='grid' %}page-width{% endif %} section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- if section.settings.caption != blank -%}
      <p class="{{ section.settings.text_style }} {{ section.settings.text_style }}--{{ section.settings.text_size }}" style="text-align: {{ section.settings.heading_alignment }};">
        {{ section.settings.caption | escape }}
      </p>
    {% endif %}  
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin multicolumn__title">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}" style="width:100%; text-align:{{section.settings.heading_alignment}};">
            {{ section.settings.title }}
        </h2>
      </div>     
    {%- endunless -%}

      {%- if section.settings.description != blank -%}
        <div class="{{ section.settings.description_style }}" style="text-align:{{section.settings.heading_alignment}}; margin-bottom: 3rem" >
            {{ section.settings.description }}
        </div>
      {%- endif -%}

        <style>
          @media screen and (max-width: 749px) {
             .section-{{ section.id }}-padding .{{ section.settings.description_style }},
             .section-{{ section.id }}-padding .{{ section.settings.text_style }}.{{ section.settings.text_style }}--{{ section.settings.text_size }}
              {
                text-align:{{section.settings.mobile_description_alignment}} !important;  
                padding-left: 1.5rem;              
                padding-right: 1.5rem;
              }
            .section-{{ section.id }}-padding .multicolumn__title .title{
                text-align: {{ section.settings.mobile_description_alignment }} !important;
              }
          }

          {%- if section.settings.remove_inner_padding == true -%}          

            @media screen and (min-width: 750px) {

              .section-{{ section.id }}-padding .multicolumn-list.grid {
                column-gap:0 !important;
                row-gap:0 !important;
              }
  
              .section-{{ section.id }}-padding .multicolumn-list__item .multicolumn-card {
                border-radius: 0px !important;
              }
  
              .section-{{ section.id }}-padding .multicolumn-list__item:first-child .multicolumn-card {
                border-top-left-radius: {{ section.settings.column_corner_radius }}px !important;
                border-bottom-left-radius: {{ section.settings.column_corner_radius }}px !important;
              }
              
              .section-{{ section.id }}-padding .multicolumn-list__item:last-child .multicolumn-card {
                border-top-right-radius: {{ section.settings.column_corner_radius }}px !important;
                border-bottom-right-radius: {{ section.settings.column_corner_radius }}px !important;
              }            
              
              .section-{{ section.id }}-padding .multicolumn-list__item  {
                flex-grow: 1;
                flex-basis: 0;
                max-width: 100%;            
              }             
            }            
            
            {%- if section.settings.swipe_on_mobile == false-%}
              @media screen and (max-width: 749px) {

                .section-{{ section.id }}-padding .multicolumn-list.grid {
                  column-gap:0 !important;
                  row-gap:0 !important;
                }                
                .section-{{ section.id }}-padding .multicolumn-list__item .multicolumn-card {
                  border-radius: 0px !important;
                }
                .section-{{ section.id }}-padding .multicolumn-list__item:first-child .multicolumn-card {
                  border-top-left-radius: 0px !important;
                  border-bottom-left-radius: 0px !important;
                }
                
                .section-{{ section.id }}-padding .multicolumn-list__item:last-child .multicolumn-card {
                  border-top-right-radius: 0px !important;
                  border-bottom-right-radius: 0px !important;
                }
               
              }              
            {%- endif -%}
          {%- endif -%}          


        </style>
    <slider-component class="slider-mobile-gutter">
      <ul
        class="multicolumn-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop{% if show_mobile_slider %} slider slider--tablet grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >

        {%- for block in section.blocks -%}
          <style>
            {%- if block.settings.column_alignment == 'center' -%}
              .{{block.id}}-table-style .table-cell{
                text-align :center;
              }
            {%- endif -%}

            {%- if block.settings.background_style == 'primary' -%}
              .{{block.id}}-table-style .table-cell{
                color :{{block.settings.column_font_color}};
              }
            {%- endif -%}

            .{{block.id}}-table-style .table-row:last-child{
              border-bottom: none;
            }
          </style>
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
              <div class="multicolumn-card content-container" 
                  style="{% if block.settings.background_style == 'primary' %} 
                            background:{{ block.settings.column_background_color }};                           
                          {% endif %}
                          {% if block.settings.border_style == true %} 
                            border:1px solid {{block.settings.column_font_color}}; 
                          {% endif %} 
                          border-radius:{{block.settings.column_corner_radius}}px;"
              >
                <style>
                  .{{block.id}}-table-style img {
                    width: 50%;
                    height: 165px;
                    object-fit: contain;
                  }
                </style>
                <div class="multicolumn-card__info table-style {{block.id}}-table-style">
                  {% if block.settings.image_row_A != blank %}

                  {%- if block.settings.overlap_on_image -%}
                      <style>
                          @media screen and (min-width:990px){
                              .multicolumn-card__image-wrapper-{{block.id}} {
                                  position: absolute;
                                  transform: translate(50%, -60%) !important;
                                  right: 50% !important;
                              }
                              .{{block.id}}-table-style .table-row-A {
                                  padding-bottom: 30%;
                              }

                              .section-{{ section.id }}-padding slider-component{
                                  padding-top: 10rem; 
                              }
                          }
                      </style>          
                  {%- endif -%}                     
                    <div class="table-row table-row-A">
                      <div class="table-cell">
                        {% comment %} <img src="{{ block.settings.image_row_A | img_url: 'small' }}" alt="" />  {% endcomment %}
                          <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper-{{block.id}} multicolumn-card__image-wrapper--half-width"
                          style="
                           {% if block.settings.column_alignment == "center" %}
                             transform: translateX(50%);
                           {% endif %}
                          "
                          >
                            {%- liquid
                              assign highest_ratio = 0
                              for block in section.blocks
                                if block.settings.image_row_A.aspect_ratio > highest_ratio
                                  assign highest_ratio = block.settings.image_row_A.aspect_ratio
                                endif
                              endfor
                            -%}                      
                            <div
                              class="media media--transparent media--adapt"
                                style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                            >
                              {{
                                block.settings.image_row_A
                                | image_url: width: 3200
                                | image_tag:
                                  widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                                  
                              }}
                            </div>
                          </div>                         
                      </div>
                    </div>
                  {% elsif block.settings.text_row_A != blank %}
                    <div class="table-row table-row-A"><div class="table-cell">{{ block.settings.text_row_A }}</div></div>
                  {% endif %}

                  {% if block.settings.text_row_B != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_B }}</div></div>
                  {% endif %}
                  {% if block.settings.text_row_C != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_C }}</div></div>
                  {% endif %}
                  {% if block.settings.text_row_D != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_D }}</div></div>
                  {% endif %}
                  {% if block.settings.text_row_E != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_E }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_F != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_F }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_G != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_G }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_H != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_H }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_I != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_I }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_J != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_J }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_K != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_K }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_L != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_L }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_M != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_M }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_N != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_N }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_O != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_O }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_P != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_P }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_Q != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_Q }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_R != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_R }}</div></div>
                  {% endif %} 
                  {% if block.settings.text_row_S != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_S }}</div></div>
                  {% endif %}                    
                  {% if block.settings.text_row_T != blank %}
                    <div class="table-row"><div class="table-cell">{{ block.settings.text_row_T }}</div></div>
                  {% endif %}  

                </div>                
              </div>

          </li>
        {%- endfor -%}
      </ul>

      {%- if show_mobile_slider -%}
        <div class="slider-buttons large-up-hide" {% if section.settings.slider_visual=='none' %} style="display:none;"{% endif %}>
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>

            <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
              {%- if section.settings.slider_visual == 'counter' -%}
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                <span class="slider-counter--total">{{ section.blocks.size }}</span>
              {%- else -%}
                <div class="slideshow__control-wrapper">
                  {%- for block in section.blocks -%}
                    <button
                      class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                      aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                      aria-controls="Slider-{{ section.id }}"
                    >
                      {%- if section.settings.slider_visual == 'numbers' -%}
                        {{ forloop.index -}}
                      {%- else -%}
                        <span class="dot"></span>
                      {%- endif -%}
                    </button>
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
        </div>
      {%- endif -%}
    </slider-component>
  </div>
</div>

{% schema %}
{
  "name": "Compare Table",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "caption",
      "label": "t:sections.collapsible_content.settings.caption.label"
    },
    {
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "subtitle",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
        },
        {
          "value": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
        }
      ],
      "default": "caption-with-letter-spacing",
      "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
    },            
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Compare Table",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },   
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Desktop Alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_description_alignment",
      "label": "Mobile Alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },    
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },   
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_layout.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "grid",
      "label": "Layout"
    },         
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },            
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },    
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
        },
        {
          "value": "counter",
          "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.slideshow.settings.slider_visual.options__3.label"
        },
        {
          "value": "none",
          "label": "None"
        }        
      ],
      "default": "counter",
      "label": "t:sections.slideshow.settings.slider_visual.label"
    },        
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "remove_inner_padding",
      "default": false,
      "label": "Remove Inner Padding"
    }    
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Table Row",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_row_A",
          "label": " Image Row A"
        },
        {
          "type": "checkbox",
          "id": "overlap_on_image",
          "default": false,
          "label": "Vertical Overlap on Image"
        },                
        {
          "type": "richtext",
          "id": "text_row_A",
          "default": "<p>Text Row A</p>",
          "label": "Text Row A"
        },
        {
          "type": "richtext",
          "id": "text_row_B",
          "default": "<p>Text Row B</p>",
          "label": "Text Row B"
        },
        {
          "type": "richtext",
          "id": "text_row_C",
          "default": "<p>Text Row C</p>",
          "label": "Text Row C"
        },
        {
          "type": "richtext",
          "id": "text_row_D",
          "label": "Text Row D"
        },
        {
          "type": "richtext",
          "id": "text_row_E",
          "label": "Text Row E"
        },
        {
          "type": "richtext",
          "id": "text_row_F",
          "label": "Text Row F"
        },
        {
          "type": "richtext",
          "id": "text_row_G",
          "label": "Text Row G"
        },
        {
          "type": "richtext",
          "id": "text_row_H",
          "label": "Text Row H"
        },
        {
          "type": "richtext",
          "id": "text_row_I",
          "label": "Text Row I"
        },
        {
          "type": "richtext",
          "id": "text_row_J",
          "label": "Text Row J"
        },
        {
          "type": "richtext",
          "id": "text_row_K",
          "label": "Text Row K"
        },        
        {
          "type": "richtext",
          "id": "text_row_L",
          "label": "Text Row L"
        },        
        {
          "type": "richtext",
          "id": "text_row_M",
          "label": "Text Row M"
        },        
        {
          "type": "richtext",
          "id": "text_row_N",
          "label": "Text Row N"
        },        
        {
          "type": "richtext",
          "id": "text_row_O",
          "label": "Text Row O"
        },        
        {
          "type": "richtext",
          "id": "text_row_P",
          "label": "Text Row P"
        },        
        {
          "type": "richtext",
          "id": "text_row_Q",
          "label": "Text Row Q"
        },        
        {
          "type": "richtext",
          "id": "text_row_R",
          "label": "Text Row R"
        },        
        {
          "type": "richtext",
          "id": "text_row_S",
          "label": "Text Row S"
        },        
        {
          "type": "richtext",
          "id": "text_row_T",
          "label": "Text Row T"
        },
        {
          "type": "select",
          "id": "column_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
            }
          ],
          "default": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.label"
        },
        {
          "type": "select",
          "id": "background_style",
          "options": [
            {
              "value": "none",
              "label": "t:sections.multicolumn.settings.background_style.options__1.label"
            },
            {
              "value": "primary",
              "label": "t:sections.multicolumn.settings.background_style.options__2.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.multicolumn.settings.background_style.label"
        },
        {
          "type": "color",
          "id": "column_background_color",
          "label": "Column Background Color"
        },
        {
          "type": "color",
          "id": "column_font_color",
          "label": "Column Font Color"
        },
        {
          "type": "range",
          "id": "column_corner_radius",
          "min": 0,
          "max": 40,
          "default": 0,
          "label": "Column Corner Radius"
        },
        {
          "type": "checkbox",
          "id": "border_style",
          "default": true,
          "label": "Block Outline"
        },                                                                                                                                                                                    
      ]
    }      
  ],  
  "presets": [
    {
      "name": "Compare Table"
    }
  ]
}
{% endschema %}
