{{ 'blocks-with-text.css' | asset_url | stylesheet_tag }}
{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
  <div class="{% if section.settings.layout_page == 'grid' %}page-width{% endif %}">
    <div class="image-with-text isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="table-section">
        {%- for block in section.blocks -%}
          <div class="tableRow">
            {%- if block.settings.image_1 != blank -%}
              <div>
                <img src="{{ block.settings.image_1 | img_url: 'medium' }}" alt="Image 1" />
              </div>
            {%- endif -%}
            {%- if block.settings.image_2 != blank -%}
              <div>
                <img src="{{ block.settings.image_2 | img_url: 'medium' }}" alt="Image 2" />
              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with Table",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings":[
    {
      "type": "select",
      "id": "layout_page",
      "options": [
        {
          "value": "full_bleed",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "full_bleed",
      "label": "Page Layout"
    },       
  ],
  "blocks":[
    {
    "type": "table_row",
    "name": "Table Row",
    "settings": [
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
        },
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
        }            
      ]
    }    
  ],  
  "presets": [
    {
      "name": "Image with Table"
    }
  ]
}
{% endschema %}