{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {%- if section.settings.no_border_style == true -%}
    .section-{{ section.id }}-padding .button:after{
      box-shadow: none;
    }
  {%- endif -%}

    .section-{{ section.id }}-padding .multicolumn-card__info .button:after{
      box-shadow:0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text),var(--border-opacity)),0 0 0 var(--buttons-border-width) rgba(var(--color-button),var(--alpha-button-background))
    }


{%- endstyle -%}

{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div class="multicolumn color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="{%if section.settings.layout=='grid' %}page-width{% endif %} section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- if section.settings.caption != blank -%}
      <div class = "{{section.id}}-caption-container" style="display:flex;">
        <p class="{{ section.settings.text_style }} {{ section.settings.text_style }}--{{ section.settings.text_size }}" 
            style="text-align: {{ section.settings.heading_alignment }}; width:max-content; background:{{section.settings.caption_background_color}}; color:{{section.settings.caption_font_color}}; padding:5px;  ">
          {{ section.settings.caption | escape }}
        </p>      
      </div>
    {% endif %}  
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin multicolumn__title">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}" style="width:100%; text-align:{{section.settings.heading_alignment}};">
            {{ section.settings.title }}
        </h2>
      </div>     
    {%- endunless -%}

      {%- if section.settings.description != blank -%}
        <div class="{{ section.settings.description_style }}" style="text-align:{{section.settings.heading_alignment}}; margin-bottom: 3rem" >
            {{ section.settings.description }}
        </div>
      {%- endif -%}

        <style>
          @media screen and (max-width: 749px) {
             .section-{{ section.id }}-padding .{{ section.settings.description_style }},
             .{{section.id}}-caption-container,
             .section-{{ section.id }}-padding .{{ section.settings.text_style }}.{{ section.settings.text_style }}--{{ section.settings.text_size }}
              {
                text-align:{{section.settings.mobile_description_alignment}} !important;  
                padding-left: 1.5rem;              
                padding-right: 1.5rem;
              }
            .section-{{ section.id }}-padding .multicolumn__title .title{
                text-align: {{ section.settings.mobile_description_alignment }} !important;
              }

            .{{section.id}}-caption-container {
              {%- if section.settings.mobile_description_alignment == 'left' -%}
                justify-content: flex-start !important;
              {%- endif -%}

              {%- if section.settings.mobile_description_alignment == 'right' -%}
                justify-content: flex-end !important;
              {%- endif -%}

              {%- if section.settings.mobile_description_alignment == 'center' -%}
                justify-content: center !important;
              {%- endif -%}              
            }              
          }

          .{{section.id}}-caption-container {
            {%- if section.settings.heading_alignment == 'left' -%}
              justify-content: flex-start;
            {%- endif -%}

            {%- if section.settings.heading_alignment == 'right' -%}
              justify-content: flex-end;
            {%- endif -%}

            {%- if section.settings.heading_alignment == 'center' -%}
              justify-content: center;
            {%- endif -%}            
          }

          .section-{{ section.id }}-padding .multicolumn-card__image-wrapper--One-Tenth-width {
              width: 10%;
          }

          .section-{{ section.id }}-padding .multicolumn-card__image-wrapper--Two-Tenth-width {
              width: 20%;
          }        
          
          .section-{{ section.id }}-padding .multicolumn-card__image-wrapper--Three-Tenth-width {
              width: 30%;
          }
          
          .section-{{ section.id }}-padding .multicolumn-card__image-wrapper--Four-Tenth-width {
              width: 40%;
          }
          
          .section-{{ section.id }}-padding .multicolumn-card__image-wrapper--Six-Tenth-width {
              width: 60%;
          }
          
          .section-{{ section.id }}-padding .multicolumn-card__image-wrapper--Seven-Tenth-width {
              width: 70%;
          }
          
          .section-{{ section.id }}-padding .multicolumn-card__image-wrapper--Eight-Tenth-width {
              width: 80%;
          }
          
          .section-{{ section.id }}-padding .multicolumn-card__image-wrapper--Nine-Tenth-width {
              width: 90%;
          }

          {%- if section.settings.remove_inner_padding == true -%}          

            @media screen and (min-width: 750px) {

              .section-{{ section.id }}-padding .multicolumn-list.grid {
                column-gap:0 !important;
                row-gap:0 !important;
              }
  
              .section-{{ section.id }}-padding .multicolumn-list__item .multicolumn-card {
                border-radius: 0px !important;
              }
  
              .section-{{ section.id }}-padding .multicolumn-list__item:first-child .multicolumn-card {
                border-top-left-radius: {{ section.settings.column_corner_radius }}px !important;
                border-bottom-left-radius: {{ section.settings.column_corner_radius }}px !important;
              }
              
              .section-{{ section.id }}-padding .multicolumn-list__item:last-child .multicolumn-card {
                border-top-right-radius: {{ section.settings.column_corner_radius }}px !important;
                border-bottom-right-radius: {{ section.settings.column_corner_radius }}px !important;
              }            
              
              .section-{{ section.id }}-padding .multicolumn-list__item  {
                flex-grow: 1;
                flex-basis: 0;
                max-width: 100%;            
              }             
            }            
            
            {%- if section.settings.swipe_on_mobile == false-%}
              @media screen and (max-width: 749px) {

                .section-{{ section.id }}-padding .multicolumn-list.grid {
                  column-gap:0 !important;
                  row-gap:0 !important;
                }                
                .section-{{ section.id }}-padding .multicolumn-list__item .multicolumn-card {
                  border-radius: 0px !important;
                }
                .section-{{ section.id }}-padding .multicolumn-list__item:first-child .multicolumn-card {
                  border-top-left-radius: {{ section.settings.column_corner_radius }}px !important;                  
                  border-bottom-left-radius: 0px !important;
                }
                
                .section-{{ section.id }}-padding .multicolumn-list__item:nth-child(2) .multicolumn-card {
                  border-top-right-radius: {{ section.settings.column_corner_radius }}px !important;                  
                }

                .section-{{ section.id }}-padding .multicolumn-list__item:nth-last-child(2) .multicolumn-card {
                  border-bottom-left-radius: {{ section.settings.column_corner_radius }}px !important;
                }

                .section-{{ section.id }}-padding .multicolumn-list__item:last-child .multicolumn-card {
                  border-top-right-radius: 0px !important;
                  border-bottom-right-radius: {{ section.settings.column_corner_radius }}px !important;
                }

                {%-if section.settings.columns_mobile == '1' -%}

                  .section-{{ section.id }}-padding .multicolumn-list__item .multicolumn-card {
                    border-radius: 0px !important;
                  }

                  .section-{{ section.id }}-padding .multicolumn-list__item:first-child .multicolumn-card {
                    border-top-left-radius: {{ section.settings.column_corner_radius }}px !important;                  
                    border-top-right-radius: {{ section.settings.column_corner_radius }}px !important;                  
                  }
                  
                  .section-{{ section.id }}-padding .multicolumn-list__item:nth-child(2) .multicolumn-card {
                    border-top-right-radius: 0px !important;                  
                  }

                  .section-{{ section.id }}-padding .multicolumn-list__item:nth-last-child(2) .multicolumn-card {
                    border-bottom-left-radius: 0px !important;
                  }

                  .section-{{ section.id }}-padding .multicolumn-list__item:last-child .multicolumn-card {
                    border-bottom-left-radius: {{ section.settings.column_corner_radius }}px !important;
                    border-bottom-right-radius: {{ section.settings.column_corner_radius }}px !important;
                  }                
                {%-endif-%}
               
              }              
            {%- endif -%}
          {%- endif -%}
        </style>
    <slider-component class="slider-mobile-gutter">
      <ul
        class="multicolumn-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop{% if show_mobile_slider %} slider slider--tablet grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          {%- assign empty_column = '' -%}
          {%- if block.settings.image == blank
            and block.settings.title == blank
            and block.settings.text == blank
            and block.settings.link_label == blank
            and block.settings.video == null
          -%}
            {%- assign empty_column = ' multicolumn-list__item--empty' -%}
          {%- endif -%}

          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {%- if block.settings.link != blank -%}
              <a href="{{ block.settings.link }}" style="text-decoration: none; {% unless section.settings.background_style == 'primary' %} color: #121212b3 {%- endunless -%}">
                <div class="multicolumn-card content-container"  style=" {% if section.settings.background_style == 'primary' %} background:{{ section.settings.column_background_color }}; {% endif %} border-radius:{{section.settings.column_corner_radius}}px; overflow:hidden">
             
                  {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                    {% assign spaced_image = true %}
                  {% endif %}
                  <div class="{% if section.settings.swipe_on_mobile == false and block.settings.hide_image_video_mobile == true%} small-hide {% endif %} {% unless section.settings.image_width== 'full' %}multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}  {%endunless%}">
                      
                    {%- if block.settings.video == null -%}
                      {%- if block.settings.image != blank-%}
                        <div
                          class="media media--transparent media--{{ section.settings.image_ratio }}"
                          {% if section.settings.image_ratio == 'adapt' %}
                            style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                          {% endif %}
                        >
                          {%- liquid
                            assign number_of_columns = section.settings.columns_desktop
                            assign number_of_columns_mobile = section.settings.columns_mobile
                            assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                            assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                            assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                            if section.settings.image_width == 'half'
                              assign image_width = 0.5
                            elsif section.settings.image_width == 'third'
                              assign image_width = 0.33
                            elsif section.settings.image_width == 'One-Tenth'
                              assign image_width = 0.1
                            elsif section.settings.image_width == 'Two-Tenth'
                              assign image_width = 0.2
                            elsif section.settings.image_width == 'Three-Tenth'
                              assign image_width = 0.3                        
                            elsif section.settings.image_width == 'Four-Tenth'
                              assign image_width = 0.4
                            elsif section.settings.image_width == 'Six-Tenth'
                              assign image_width = 0.6 
                            elsif section.settings.image_width == 'Seven-Tenth'
                              assign image_width = 0.7
                            elsif section.settings.image_width == 'Eight-Tenth'
                              assign image_width = 0.8
                            elsif section.settings.image_width == 'Nine-Tenth'
                              assign image_width = 0.9                          
                            else
                              assign image_width = 1
                            endif
                          -%}
                          {% capture sizes %}
                            (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                            (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                            (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                            calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                          {% endcapture %}
                          {{
                            block.settings.image
                            | image_url: width: 3200
                            | image_tag:
                              widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                              sizes: sizes,
                              class: 'multicolumn-card__image'
                          }}
                        </div>
                      {%- endif -%}  
                    {%- else -%}
                      <video src="{{block.settings.video.sources[1].url}}" loop muted playsinline autoplay style="display:flex; width:100%"></video>  
                    {%- endif -%}
                  </div>              
                  <div class="multicolumn-card__info">
                    {%- if block.settings.caption != blank -%}
                      {% comment %} <p class="{{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}" style="text-align: {{ block.settings.heading_alignment }}; {% if section.settings.background_style == 'primary' %} color:{{ section.settings.column_font_color }}; {% endif %} ">
                          {{ block.settings.caption | escape }}
                      </p>                       {% endcomment %}
                      <div class = "{{block.id}}-caption-container"
                            style="display:flex;                                   
                            {% if section.settings.column_alignment == 'center'%}
                              justify-content:center;
                            {% endif %}"
                      >
                        <p class="{{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}" 
                            style="width:max-content; background:{{block.settings.caption_background_color}}; color:{{block.settings.caption_font_color}}; padding:5px;  ">
                          {{ block.settings.caption | escape }}
                        </p>      
                      </div>                      
                    {%- endif -%}              
                    {%- if block.settings.title != blank -%}
                      {%- if block.settings.heading_icon_image != blank -%}
                        <style>
                          .heading_icon_image{
                            display: flex; 
                            justify-content:{{section.settings.column_alignment}}; 
                            align-items: center; 
                            gap: 2px;
                          }
                        </style>
                        <h3 class="small-hide medium-hide inline-richtext heading_icon_image {% unless block.settings.heading_size == 'large' %} {% if block.settings.heading_size == 'h2' %} {{ block.settings.heading_size }} {% else %} subtitle--{{ block.settings.heading_size }} {% endif %} {% endunless %} "  
                            style="display:flex; justify-content:flex-start; {% if section.settings.background_style == 'primary' %} color:{{ section.settings.column_font_color }}; {% endif %}
                                    {% if section.settings.column_alignment == 'center'%}
                                      justify-content:center;
                                    {% endif %}"                          
                        >
                          <img src="{{ block.settings.heading_icon_image | img_url: 'small' }}" alt="" style="width:20px"/> 
                          {{ block.settings.title }}
                        </h3>
                        <h3 class="large-up-hide inline-richtext heading_icon_image {% unless block.settings.heading_size_mobile == 'large' %} {% if block.settings.heading_size_mobile == 'h2' %} {{ block.settings.heading_size_mobile }} {% else %} subtitle--{{ block.settings.heading_size_mobile }} {% endif %} {% endunless %}"  
                            style="display:flex; justify-content:flex-start; {% if section.settings.background_style == 'primary' %} color:{{ section.settings.column_font_color }}; {% endif %}
                            {% if section.settings.column_alignment == 'center'%}
                              justify-content:center;
                            {% endif %}"
                        >
                          <img src="{{ block.settings.heading_icon_image | img_url: 'small' }}" alt="" style="width:20px"/> 
                          {{ block.settings.title }}
                        </h3>
                      {%- else -%}
                        <h3 class="small-hide medium-hide inline-richtext {% unless block.settings.heading_size == 'large' %} {% if block.settings.heading_size == 'h2' %} {{ block.settings.heading_size }} {% else %} subtitle--{{ block.settings.heading_size }} {% endif %} {% endunless %} " 
                          style="display:flex; justify-content:flex-start; {% if section.settings.background_style == 'primary' %} color:{{ section.settings.column_font_color }}; {% endif %}
                          {% if section.settings.column_alignment == 'center'%}
                            justify-content:center;
                          {% endif %}"                        
                        >
                          {{ block.settings.title }}
                        </h3>                        
                        <h3 class="large-up-hide inline-richtext {% unless block.settings.heading_size_mobile == 'large' %} {% if block.settings.heading_size_mobile == 'h2' %} {{ block.settings.heading_size_mobile }} {% else %} subtitle--{{ block.settings.heading_size_mobile }} {% endif %} {% endunless %}"
                          style="display:flex; justify-content:flex-start; {% if section.settings.background_style == 'primary' %} color:{{ section.settings.column_font_color }}; {% endif %}
                          {% if section.settings.column_alignment == 'center'%}
                            justify-content:center;
                          {% endif %}"                      
                        >
                          {{ block.settings.title }}
                        </h3>
                      {%- endif -%}
                    {%- endif -%} 
                    {%- if block.settings.text != blank -%}
                      <div class="rte" {% if section.settings.background_style == 'primary' %} style="color:{{ section.settings.column_font_color }}" {% endif %}>{{ block.settings.text }}</div>
                    {%- endif -%}
                    {%- if block.settings.link_label != blank -%}
                      <a
                        class="{% if block.settings.button_style_secondary %} button  button--secondary {%else%} link animate-arrow {% endif %}"
                        {% if block.settings.link == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ block.settings.link }}"
                        {% endif %}
                        {% if section.settings.background_style == 'primary' and block.settings.button_style_secondary == false %} style="color:{{ section.settings.column_font_color }}" {% endif %}
                      >
                        {{- block.settings.link_label | escape -}}
                        {% if block.settings.button_style_secondary == false %} 
                          <span class="svg-wrapper"
                            ><span class="icon-wrap">&nbsp;{{ 'icon-arrow.svg' | inline_asset_content }}</span></span
                          >                        
                        {%- endif -%}
                      </a>
                    {%- endif -%}
                  </div>
                </div>
              </a>
            {%- else -%}
              <div class="multicolumn-card content-container"  style=" {% if section.settings.background_style == 'primary' %} background:{{ section.settings.column_background_color }}; {% endif %} border-radius:{{section.settings.column_corner_radius}}px; overflow:hidden">
             
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="{% if section.settings.swipe_on_mobile == false and block.settings.hide_image_video_mobile == true%} small-hide {% endif %} multicolumn-card__image-wrapper-{{block.id}} {% unless section.settings.image_width== 'full' %} multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}  {%endunless%}">
                    
                  {%- if block.settings.video == null -%}
                    {%- if block.settings.image != blank-%}
                      <div
                        class="media media--transparent media--{{ section.settings.image_ratio }}"
                        {% if section.settings.image_ratio == 'adapt' %}
                          style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                        {% endif %}
                      >
                        {%- liquid
                          assign number_of_columns = section.settings.columns_desktop
                          assign number_of_columns_mobile = section.settings.columns_mobile
                          assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                          assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                          assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                          if section.settings.image_width == 'half'
                            assign image_width = 0.5
                          elsif section.settings.image_width == 'third'
                            assign image_width = 0.33
                          elsif section.settings.image_width == 'One-Tenth'
                            assign image_width = 0.1
                          elsif section.settings.image_width == 'Two-Tenth'
                            assign image_width = 0.2
                          elsif section.settings.image_width == 'Three-Tenth'
                            assign image_width = 0.3                        
                          elsif section.settings.image_width == 'Four-Tenth'
                            assign image_width = 0.4
                          elsif section.settings.image_width == 'Six-Tenth'
                            assign image_width = 0.6 
                          elsif section.settings.image_width == 'Seven-Tenth'
                            assign image_width = 0.7
                          elsif section.settings.image_width == 'Eight-Tenth'
                            assign image_width = 0.8
                          elsif section.settings.image_width == 'Nine-Tenth'
                            assign image_width = 0.9                          
                          else
                            assign image_width = 1
                          endif
                        -%}
                        {% capture sizes %}
                          (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                          (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                          (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                          calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                        {% endcapture %}
                        {{
                          block.settings.image
                          | image_url: width: 3200
                          | image_tag:
                            widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                            sizes: sizes,
                            class: 'multicolumn-card__image'
                        }}
                      </div>
                    {%- endif -%}  
                  {%- else -%}
                    <video src="{{block.settings.video.sources[1].url}}" loop muted playsinline autoplay style="display:flex; width:100%"></video>  
                  {%- endif -%}
                </div>              
                <div class="multicolumn-card__info">
                  {%- if block.settings.caption != blank -%}
                    {% comment %} <p class="{{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}" style="text-align: {{ block.settings.heading_alignment }}; {% if section.settings.background_style == 'primary' %} color:{{ section.settings.column_font_color }}; {% endif %} ">
                        {{ block.settings.caption | escape }}
                    </p> {% endcomment %}
                    <div class = "{{block.id}}-caption-container" 
                          style="display:flex;                                   
                                  {% if section.settings.column_alignment == 'center'%}
                                    justify-content:center;
                                  {% endif %}"
                    >
                      <p class="{{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}" 
                          style="width:max-content; background:{{block.settings.caption_background_color}}; color:{{block.settings.caption_font_color}}; padding:5px;  ">
                        {{ block.settings.caption | escape }}
                      </p>      
                    </div>                    
                  {%- endif -%}             

                  {%- if block.settings.title != blank -%}
                    {%- if block.settings.heading_icon_image != blank -%}
                      <style>
                        .heading_icon_image{
                          display: flex; 
                          justify-content:{{section.settings.column_alignment}}; 
                          align-items: center; 
                          gap: 2px;
                        }
                      </style>
                      <h3 class="small-hide medium-hide inline-richtext heading_icon_image {% unless block.settings.heading_size == 'large' %} {% if block.settings.heading_size == 'h2' %} {{ block.settings.heading_size }} {% else %} subtitle--{{ block.settings.heading_size }} {% endif %} {% endunless %} "  
                          style="display:flex; justify-content:flex-start; {% if section.settings.background_style == 'primary' %} color:{{ section.settings.column_font_color }}; {% endif %}
                                  {% if section.settings.column_alignment == 'center'%}
                                    justify-content:center;
                                  {% endif %}"                          
                      >
                        <img src="{{ block.settings.heading_icon_image | img_url: 'small' }}" alt="" style="width:20px"/> 
                        {{ block.settings.title }}
                      </h3>
                      <h3 class="large-up-hide inline-richtext heading_icon_image {% unless block.settings.heading_size_mobile == 'large' %} {% if block.settings.heading_size_mobile == 'h2' %} {{ block.settings.heading_size_mobile }} {% else %} subtitle--{{ block.settings.heading_size_mobile }} {% endif %} {% endunless %}"  
                          style="display:flex; justify-content:flex-start; {% if section.settings.background_style == 'primary' %} color:{{ section.settings.column_font_color }}; {% endif %}
                          {% if section.settings.column_alignment == 'center'%}
                            justify-content:center;
                          {% endif %}"
                      >
                        <img src="{{ block.settings.heading_icon_image | img_url: 'small' }}" alt="" style="width:20px"/> 
                        {{ block.settings.title }}
                      </h3>
                    {%- else -%}
                      <h3 class="small-hide medium-hide inline-richtext {% unless block.settings.heading_size == 'large' %} {% if block.settings.heading_size == 'h2' %} {{ block.settings.heading_size }} {% else %} subtitle--{{ block.settings.heading_size }} {% endif %} {% endunless %} " 
                        style="display:flex; justify-content:flex-start; {% if section.settings.background_style == 'primary' %} color:{{ section.settings.column_font_color }}; {% endif %}
                        {% if section.settings.column_alignment == 'center'%}
                          justify-content:center;
                        {% endif %}"                        
                      >
                        {{ block.settings.title }}
                      </h3>                        
                      <h3 class="large-up-hide inline-richtext {% unless block.settings.heading_size_mobile == 'large' %} {% if block.settings.heading_size_mobile == 'h2' %} {{ block.settings.heading_size_mobile }} {% else %} subtitle--{{ block.settings.heading_size_mobile }} {% endif %} {% endunless %}"
                        style="display:flex; justify-content:flex-start; {% if section.settings.background_style == 'primary' %} color:{{ section.settings.column_font_color }}; {% endif %}
                        {% if section.settings.column_alignment == 'center'%}
                          justify-content:center;
                        {% endif %}"                      
                      >
                        {{ block.settings.title }}
                      </h3>
                    {%- endif -%}
                  {%- endif -%}

                  {%- if block.settings.text != blank -%}
                    <div class="rte" {% if section.settings.background_style == 'primary' %} style="color:{{ section.settings.column_font_color }}" {% endif %}>{{ block.settings.text }}</div>
                  {%- endif -%}
                  {%- if block.settings.link_label != blank -%}
                    <a
                      class="{% if block.settings.button_style_secondary %} button  button--secondary {%else%} link animate-arrow {% endif %}"
                      {% if block.settings.link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.link }}"
                      {% endif %}
                      {% if section.settings.background_style == 'primary' and block.settings.button_style_secondary == false %} style="color:{{ section.settings.column_font_color }}" {% endif %}
                    >
                      {{- block.settings.link_label | escape -}}
                      {% if block.settings.button_style_secondary == false %} 
                        <span class="svg-wrapper"
                          ><span class="icon-wrap">&nbsp;{{ 'icon-arrow.svg' | inline_asset_content }}</span></span
                        >                        
                      {%- endif -%}
                    </a>
                  {%- endif -%}
                </div>
              </div>
            {% endif %}

          </li>
        {%- endfor -%}
      </ul>

      {%- if show_mobile_slider -%}
        <div class="slider-buttons large-up-hide" {% if section.settings.slider_visual=='none' %} style="display:none;"{% endif %}>
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>

            <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
              {%- if section.settings.slider_visual == 'counter' -%}
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                <span class="slider-counter--total">{{ section.blocks.size }}</span>
              {%- else -%}
                <div class="slideshow__control-wrapper">
                  {%- for block in section.blocks -%}
                    <button
                      class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                      aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                      aria-controls="Slider-{{ section.id }}"
                    >
                      {%- if section.settings.slider_visual == 'numbers' -%}
                        {{ forloop.index -}}
                      {%- else -%}
                        <span class="dot"></span>
                      {%- endif -%}
                    </button>
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
        </div>
      {%- endif -%}
    </slider-component>
    <div class="center">
      {%- if section.settings.button_label != blank -%}
        <a
          class="button {% if section.settings.button_style_secondary %} button--secondary {%else%} button--primary {% endif %} "
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
          style="color: {{section.settings.video_button_font}}; background-color: {{section.settings.video_button_background}};" 
        >
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif -%}
    </div>    
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "caption",
      "label": "t:sections.collapsible_content.settings.caption.label"
    },
    {
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "subtitle",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
        },
        {
          "value": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
        }
      ],
      "default": "caption-with-letter-spacing",
      "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
    },             
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.multicolumn.settings.title.default",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },   
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Desktop Alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_description_alignment",
      "label": "Mobile Alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },    
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },           
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_image.content"
    },    
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "One-Tenth",
          "label": "One-Tenth"
        },
        {
          "value": "Two-Tenth",
          "label": "Two-Tenth"
        },
        {
          "value": "Three-Tenth",
          "label": "Three-Tenth"
        },
        {
          "value": "Four-Tenth",
          "label": "Four-Tenth"
        },
        {
          "value": "Six-Tenth",
          "label": "Six-Tenth"
        },
        {
          "value": "Seven-Tenth",
          "label": "Seven-Tenth"
        },
        {
          "value": "Eight-Tenth",
          "label": "Eight-Tenth"
        },
        {
          "value": "Nine-Tenth",
          "label": "Nine-Tenth"
        },                
        {
          "value": "third",
          "label": "t:sections.multicolumn.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.multicolumn.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.multicolumn.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.multicolumn.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_button.content"
    },    
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.multicolumn.settings.button_label.default",
      "label": "t:sections.multicolumn.settings.button_label.label", 
      "info": "t:sections.multicolumn.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
    },
    {
      "type": "checkbox",
      "id": "no_border_style",
      "default": false,
      "label": "No Border Style"
    },    
    {
      "type":"color",
      "id":"video_button_background",
      "label":"Button Color"
    },
    {
      "type":"color",
      "id":"video_button_font",
      "label":"Font Color"
    },           
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_layout.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "grid",
      "label": "Layout"
    },         
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.multicolumn.settings.background_style.label"
    },
    {
      "type": "color",
      "id": "column_background_color",
      "label": "Column Background Color"
    },
    {
      "type": "color",
      "id": "column_font_color",
      "label": "Column Font Color"
    },
    {
      "type": "range",
      "id": "column_corner_radius",
      "min": 0,
      "max": 40,
      "default": 0,
      "label": "Column Corner Radius"
    },            
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },    
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
        },
        {
          "value": "counter",
          "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.slideshow.settings.slider_visual.options__3.label"
        },
        {
          "value": "none",
          "label": "None"
        }        
      ],
      "default": "counter",
      "label": "t:sections.slideshow.settings.slider_visual.label"
    },        
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "remove_inner_padding",
      "default": false,
      "label": "Remove Inner Padding"
    }    
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.video.settings.video.label"
        },        
        {
          "type": "checkbox",
          "id": "hide_image_video_mobile",
          "default": false,
          "label": "Hide Image/Video on Mobile"
        },        
        {
          "type": "text",
          "id": "caption",
          "label": "t:sections.collapsible_content.settings.caption.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        },
        {
          "type": "color",
          "id": "caption_background_color",
          "label": "Caption Background Color"
        },
        {
          "type": "color",
          "id": "caption_font_color",
          "label": "Caption Font Color"
        },                
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "t:sections.multicolumn.blocks.column.settings.title.default",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__4.label"
            },
          ],
          "default": "large",
          "label": "Heading Desktop Size"
        },
        {
          "type": "select",
          "id": "heading_size_mobile",
          "options": [
            {
              "value": "small",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__4.label"
            },
          ],
          "default": "large",
          "label": "Heading Mobile Size"
        }, 
        {
          "type": "image_picker",
          "id": "heading_icon_image",
          "label": "Heading Icon"
        },                
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.multicolumn.blocks.column.settings.text.default",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label",
          "info": "t:sections.multicolumn.blocks.column.settings.link_label.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        },        
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
